@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #8e44ad;
}
.container{
    height: 100vh;
    width: 100%;
}
.container .product-card{
    position: relative;
    display: flex;
    background-color: white;
    width: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 6px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
}
.container .product-card .image{
    display: flex;
    align-items: center;
    position: relative;
}
.container .product-card .image:before {
    content: '';
    width: 250px;
    height: 250px;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: -1;
}
.container .product-card .image img{
    width: 250px;
}

.container .product-card  .container-details{
    display: flex;
    align-items: center;
}

.container .product-card  .container-details .details .discount{
    margin: 8px 0;
    font-size: 60px;
    color: #e74c3c;
}
.container .product-card  .container-details .details .discount span{
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.86);
    font-size: 70px;
}
.container .product-card  .container-details .details p{
    font-size: 14px;
    color: rgb(80, 80, 80);
    line-height: 1.7em;
   padding-right: 10px;
}
.container .product-card  .container-details .details button{
    outline:none ;
    border: none;
    padding:15px 25px;
    background-color: #e74c3c;
    border-radius: 5px;
    color:white;
    margin-top: 20px;
}
@media only screen and (max-width: 890px) {
    .container .product-card{
        display: block;
    }
    .container .product-card .image {
        height: 180px;
        transform: translateY(-90px);
        justify-content: center;
    }
    .container .product-card  .container-details {
        height: auto;
        text-align: center;
    }
    .container .product-card  .container-details .details .discount{
        font-size: 50px;
    }
    .container .product-card  .container-details .details .discount span{
        font-size: 60px;
    }
    .container .product-card{
        top: 55%;
    }
}

